.cache/*
.servletapp/*
.webdsl-fragment-cache/*
.webdsl-parsecache/*
.saved-but-not-built
.dependencies.webdsl
temp_test.db
application.ini
testRestrictedProperties/.classpath
testRestrictedProperties/.project
testRestrictedProperties/.servletapp/*
testRestrictedProperties/.webdsl-fragment-cache/*
testRestrictedProperties/.webdsl-parsecache/*
